.container{
    height: 100px;
    width: 100vw;
    background-image: linear-gradient(
        to right,
        rgba(13, 115, 248, 0.5),
        rgba(40, 73, 237, 0.5)
      ),url('../../images/sky.jpg');
      background-size: cover;
      padding-top: 60px;
}